.home_bg{
    background-color: white;
    padding-top: 1px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 25px;
}