th {
    background: #6c757d !important;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    color: white;
    padding-bottom: 11px !important;
    padding-top: 11px !important;
}
